@import (reference) "_include.less";
@import (inline) "test-css.css";

@screen-sm-width: 10;

h1 {
	color: red; // red is the best color ⌘

	b {
		font-weight: bold
	}

	/* block comments are cool too */
	&.green {
		color: green;
	}

	&:hover {
		color: desaturate(green, 10%);
	}

	&:after {
		// let's test some unicode
		content: "⌘%⌘%⌘";
	}
}

h2 b {
	font-weight: bold
}

@media (max-width: @screen-sm-width) {
	color: green;
}

// some more test stuff
// h2 b {
// 	font-weight: bold
// }

// @media (max-width: @screen-sm-width) {
// 	color: green;
// }

// @media (max-width: @screen-sm-width) {
// 	color: green;
// }

// @media (max-width: @screen-sm-width) {
// 	color: green;
// }

// @media (max-width: @screen-sm-width) {
// 	color: green;
// }
