@import (reference) "_include.less";
@import (inline) "test-css.css"

h1 {
	color: red; // red is the best color ⌘

	b {
		font-weight: bold
	}

	/* block comments are cool too */
	&.green {
		color: green;
	}

	&:hover {
		color: desaturate(green, 10%);
	}

	&:after {
		// let's test some unicode
		content: "⌘%⌘%⌘";
	}
}

h2 b {
	font-weight: bold
}

@media (max-width: @screem-sm-width) {
	color: green;
}
